---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a DAMAX AUTO Complete 
        auto service located in Barrie </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Reliable and certified team
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Our goal is to help our Customers receive high-quality,
        honest and comprehensive service for multi-brands cars.

        <br><br>

        <b>DAMAX AUTO</b> is a <b>MTO</b> (Ministry Transportation Of Ontario) 
        approved vehicle inspection station with all permits,
        so you can be sure that the your car is serviced by
        professionals with many years of experience. 

        <br><br>

        At DAMAX AUTO our customers come first.
        <br>
        If you need car repairs, contact us and welcome our 
        large family of clients, 
        we treat every vehicle as if it were our own.
        
      </p>
    </div>

    <div class="text-center mt-8">
      <a
        href="/services"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← All Services</a
      >

      <a
        rel="noopener"
        target="_blank"
        href="/contact"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >Contact Us →</a>

    </div>

  </Container>
</Layout>
