---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Pre-purchase car inspection",
    description:
      `We recommend an independent inspection when you're thinking about buying a used car,
      even if the seller tells you the car is in good condition and already certified.`,
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Service Maintenance",
    description:
      `Regular vehicle maintenance helps prevent costly and unpleasant breakdowns.`,
    icon: "bx:bxs-network-chart",
  },
  {
    title: "Computer Diagnostics",
    description:
      `Latest model cars are equipped with an on-board computer that controls all components.`,
    icon: "bx:bxs-data",
  },
  {
    title: "Suspension",
    description:
      `The condition of your car's suspension is responsible not only for comfort, 
      but also for safety during your trip.`,
    icon: "bx:bxs-car-mechanic",
  },
  {
    title: "Engine and Transmission",
    description:
      `Some of the most important elements in your car.
      We can diagnose, repair and replace these elements.`,
    icon: "mdi:engine",
  },
  {
    title: "Tires",
    description:
      `Seasonal change, balancing, tire repair, purchase assistance`,
    icon: "ic:baseline-tire-repair",
  },
];

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Multiple services for your cars
  </h2>
  <a id="features">
    <p class="text-lg mt-4 text-slate-600">
      DAMAX AUTO provides numerous services for your vehicles. We work with leading 
      suppliers of auto parts and will be happy to help you purchase what you need
      at reasonable prices.
    </p>
  </a>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-9 h-9 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
      </div>
    ))
  }
</div>

<div class="text-center mt-8">
  <a
    rel="noopener"
    target="_blank"
    href="/services"
    class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
    >← All Services</a
  >
</div>
